{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h1 class="text-3xl font-bold mb-6">Prévisions Météo</h1>

    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-2">{{ weather.name }}</h2>
        <img src="https://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png" alt="weather-icon">
        <div class="flex mb-4">
            <div class="mr-2">
                <p class="text-gray-700"><strong>Température:</strong> {{ weather.main.temp -273.15 }}°C</p>
                <p class="text-gray-700"><strong>Ressentie:</strong> {{ weather.main.feels_like -273.15 }}°C</p>
                <p class="text-gray-700"><strong>Conditions:</strong> {{ weather.weather[0].description }}</p>
            </div>
            <div class="mr-2">
                <p class="text-gray-700"><strong>Humidité:</strong> {{ weather.main.humidity }}%</p>
                <p class="text-gray-700"><strong>Vent:</strong> {{ weather.wind.speed }} m/s</p>
                <p class="text-gray-700"><strong>Pression:</strong> {{ weather.main.pressure }} hPa</p>
            </div>
        </div>
        <div class="flex">
            <div class="mr-2">
                <p class="text-gray-700"><strong>Visibilité:</strong> {{ weather.visibility }} m</p>
                <p class="text-gray-700"><strong>Nuages:</strong> {{ weather.clouds.all }}%</p>
            </div>
            <div class="mr-2">
                <p class="text-gray-700"><strong>Lever du soleil:</strong> {{ weather.sys.sunrise|date('H:i') }}</p>
                <p class="text-gray-700"><strong>Coucher du soleil:</strong> {{ weather.sys.sunset|date('H:i') }}</p>
            </div>
        </div>
    </div>

{% endblock %}
